<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwy.mapper.DimensionMapper">
    <resultMap id="SkuResultMap" type="sku">
        <id property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="dimensionId" column="s_dimension_id"/>
    </resultMap>
    <resultMap id="DimensionvoResultMap" type="dimensionVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sort" column="sort"/>
        <collection property="skus" ofType="sku" resultMap="SkuResultMap"/>
    </resultMap>
    <select id="getAll" resultMap="DimensionvoResultMap">
        SELECT d.*,s.id as s_id,s.`name` as s_name,s.dimension_id as s_dimension_id FROM dimension as d left JOIN sku as s on d.id=s.dimension_id order by d.sort
    </select>
  <delete id="deleteSkus" parameterType="list">
      delete  from  goods_sku where goods_sku.sku_id in
<foreach collection="skuIds" separator="," open="(" close=")" item="sku" >
     #{sku}
</foreach>
  </delete>
</mapper>